<nav class="uk-navbar-container uk-box-shadow-medium uk-margin" uk-navbar uk-sticky="bottom: #offset">
    <div class="uk-navbar-left">
        <a class="uk-navbar-toggle" href="#offcanvas-slide" uk-navbar-toggle-icon uk-toggle></a>
        <a class="uk-navbar-item uk-logo" href="{{ url }}/blog/">{{ site.title }}</a>
        <div id="offcanvas-slide" uk-offcanvas>
            <div class="uk-offcanvas-bar">
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-nav-header">Header</li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#">Item</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>