@import "global";

body {
  background-color: @background-color;
}

main {
  margin-top: 56px;

  @media @large, @xlarge {
    margin-top: 64px;
    margin-left: 256px;
  }
}

hr {
  border: none;
  border-top: @divider-color 1px solid;
  margin: 7px 0 8px 0;
}
