---
layout: default
---

<div class="uk-section">
    <div class="uk-container">
        <article class="uk-article">
            <h1 class="uk-article-title">{{ page.title }}</h1>
            <p class="uk-article-meta">
                <time datetime="{{ post.date }}">{{ page.date | date_to_string }}</time>
                {% if site.author.disqus %} | <a href="{{ url }}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.id }}">Comment</a>{% endif %}
            </p>
            <p>{{ content }}</p>
            {% if page.ccl %}
            <div class="center" style="margin-top: 16px;">
                <table>
                    <tr>
                        <td>
                            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img src="https://i.creativecommons.org/l/{{ page.ccl | downcase }}/4.0/88x31.png" alt="크리에이티브 커먼즈 라이선스"></a>
                        </td>
                        <td>
                            <span style="font-size: 12px; font-weight: 400; min-height: 31px;">
                                <span rel="dct:type" xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title">{{ page.title }}</span> by <a rel="cc:attributionURL" xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/{{ site.author.github }}" property="cc:attributionName">{{ site.author.name }}</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/{{ page.ccl | downcase }}/4.0/">Creative Commons Attribution 4.0 International License</a>.<br>
                                {% if site.author.email %}
                                Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="mailto:{{ site.author.email }}" rel="cc:morePermissions">{{ site.author.email }}</a>.
                                {% endif %}
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            {% endif %}
            <br>
            <div class="uk-container">
                <ul class="uk-pagination">
                    {% if page.previous.url %}
                    <li><a href="{{ url }}{{ page.previous.url }}"><span class="uk-margin-small-right" uk-pagination-previous></span> Older</a></li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="uk-margin-auto-left"><a href="{{ url }}{{ page.next.url }}">Newer <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
                    {% endif %}
                </ul>
            </div>
            {% if site.author.disqus %}
            <div class="col s12">
              <article>
                <div class="card">
                  <div class="card-content">
                    <span class="card-title">Comments</span>
                    {% include disqus.html %}
                  </div>
                </div>
              </article>
            </div>
            {% endif %}
        </article>
    </div>
</div>